* {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: auto;
}

img {
    width: 200px;
    height: 300px;
}

.round {
    border-radius: 50%;
}

.table {
    background-color: aquamarine;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: x-large;
    cursor: pointer;

}

/*.table:hover{
    background-color: rgb(47, 202, 150);
}
.booked:hover{
    background-color: rgb(189, 38, 38);   
}*/

.divW{
    width:70px;
}
.booked {
    background-color: rgb(220, 60, 60);
}

.small {
    width: 4rem;
    height: 5rem;
}

.big {
    width: 7rem;
    height: 7rem;
}
.form{
    border:1px solid black;
    margin-bottom: 5px;
}