* {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: auto;
}

img {
    width: 200px;
    height: 300px;
}

.round {
    border-radius: 50%;
}

.table {
    background-color: aquamarine;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;

}

.booked {
    background-color: rgb(220, 97, 97);
}

.small {
    width: 3rem;
    height: 4
}

.big {
    width: 7rem;
    height: 7rem;
}